.App {
  text-align: center;
}

.TopBar{
  background-color: #09d3ac;
  width: 100%;
  height: fit-content;
  float:left;
}

#yourAccountDiv{
  float:left;
  padding: 5px;  
}

#yourAccount{
  text-align: center;
  padding: 8px;
  background-color:rgb(105, 162, 255);
  /*border: 2px solid black;*/
  border-radius: 8px;
  /*box-shadow: 2px 4px green;*/
}

#keyManagementDiv{
  float:right;
  padding: 5px;
  background-color: rgb(105, 162, 255);
  border-radius: 8px;
  width:90%;
  
}

.test{
  padding:10px;
}

.navbar-colour{
  background-color: rgb(105, 162, 255);
}

