.App {
  text-align: center;
}

#yourAccountDiv{
  float:left;
  padding: 5px;  
}

#yourAccount{
  text-align: center;
  padding: 8px;
  background-color: rgb(172, 196, 235);
  border: 2px solid rgb(156, 178, 212);
  border-radius: 8px;
  box-shadow: 2px 4px rgb(156, 178, 212);
}

#keyManagementDiv{
  float:right;
  padding: 5px;
  border-radius: 8px;
  width:90%;
  
}

.test{
  padding:10px;
}

.navbar-colour{
  background-color: rgb(191, 212, 245);
  box-shadow: 1px 2px rgb(156, 178, 212);
}

.select{
  min-width: 400px;
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.addAddressInput{
  width:fit-content;
}


.newAddressForm{
  margin-top: 54px;

}

.dimensionInput{
  margin: 15px;
}

.approvedAddresses{
 
}

.submitButton{
  margin-bottom: 40px;
}